/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background-color: #f8f9fa;
  border: none;
  box-shadow: none;
}


/* KONTEN GESER KE KANAN */
.content {
  margin-left: 230px;
  padding: 20px;
}

/* LINK FULL WIDTH */
.sidebar .nav-link {
  padding: 12px 15px;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
}

.sidebar .navbar-brand {
  display: block;
  font-weight: bold;
}


